// compost_styles.scss

.note-container {
    background-color: #f5f2e8; // Light, warm background color
    color: #4e4e3e; // Dark, desaturated green-tinted text

  &.bruck {
    background-color: #ddd7c4;
    color: #8c8c7e;
  }

  &.tinkering {
    background-color: #e2ddc9;
    color: #7e7e6e;
  }

  &.roughing-out {
    background-color: #e6e2d2;
    color: #6d6d5e;
  }

  &.moulding {
    background-color: #ece8dc;
    color: #5e5e4e;
  }

    // Layout and spacing
    padding: 1.5rem; // Increased padding for a more relaxed layout
    max-width: 800px; // Limit the content width for better readability
    margin: 0 auto; // Center the content within the page
}