@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter/font-files/Inter-Regular.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style: italic;  
    font-weight: 400;
    src: url('../fonts/inter/font-files/Inter-Italic.woff2') format('woff2');
  }
  
  // Define additional @font-face rules for other weights and styles