// Compost section overrides

.garden {
  // Colour scheme
  background-color: #f7f5e7; // Light tan background
  color: #3d3d3d; // Dark grey text

  // Typography

  h1 {
    font-family: 'Poetsen One', sans-serif;
    color: #606060; /* Grey color for headers to indicate draft status */
  }

  p, li {
    font-size: 1.1rem; // Slightly larger font size
    line-height: 1.6; // Increased line spacing for readability
  }

  .last-updated, .tags {
    font-style: italic; /* Stylistic choice to differentiate meta information */
    font-size: 1.1rem; // Slightly larger font size
    line-height: 1.6; // Increased line spacing for readability
  }

  a {
    color: #617a55; // Olive green links

    &:hover {
      color: #92b27c; // Lighter olive green on hover
    }
  }

  // Layout and spacing
  padding: 2rem; // Increased padding for a more relaxed layout
  max-width: 800px; // Limit the content width for better readability
  margin: 0 auto; // Center the content within the page
}