---
layout: default
---
<head>
  <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<div class="garden">
  <div class="note-container {{ page.stage }}">
    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <main>

      {% if page.last_updated %}
        <p class="last-updated">Last updated: {{ page.last_updated | date: "%B %d, %Y" }}</p>
      {% endif %}

      {{ content }}

      {% if page.tags %}
        <div class="tags">
          {% for tag in page.tags %}
            <a href="/compost/tags/{{ tag | slugify }}/index.html">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </main>

    <footer>
      <nav>
        <a href="/compost">Home</a>
        <a href="/compost/about">About</a>
        <a href="/compost/tags">Tags</a>
      </nav>
    </footer>

  </div>
</div>